.table {
    background-color: white;
    border-radius: 15px;
    width: 100%;

    th {
        width: calc(50% - 20px);
        padding: 10px;
        text-align: left;
        color: black;
    }

    td {
        padding: 10px;
        width: 50%;
        color: black;
    }
}

.progress {
    width: 200px;
    height: 10px;
    background-color: black;
    border-radius: 10px;

    &--remaining {
        background-color: green;
    }
}