<table *ngIf="childData !== undefined" class="md-table table">
  <thead>
    <tr>
      <th>Name</th>
      <th>In Percent to your Budget</th>
      <th>In Percent to your Expenses</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of childData?.unifiedExpenses">
      <tr *ngIf="item.categorie !== '' && item.numberValue !== undefined">
        <td>
          {{ item.categorie }}
        </td>
        <td>
          {{
            (item.numberValue / childData.settingsData.income) * 100
              | number : "1.0-0"
          }}
          %
          <div class="progress">
            <div
              class="progress progress--remaining"
              [style.width.%]="
                (item.numberValue / childData.settingsData.income) * 100
                  | number : '1.0-0'
              "
            ></div>
          </div>
        </td>
        <td>
          {{
            (item.numberValue / childData.settingsData.spent) * 100
              | number : "1.0-0"
          }}
          %
          <div class="progress">
            <div
              class="progress progress--remaining"
              [style.width.%]="
                (item.numberValue / childData.settingsData.spent) * 100
                  | number : '1.0-0'
              "
            ></div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
