.table {
    background-color: white;
    border-radius: 15px;
    width: 100%;

    th {
        width: calc((100% / 3) - 20px);
        padding: 10px;
        text-align: left;
        font-size: 19px;
        color: black;
    }

    td {
        padding: 10px;
        width: calc(100% / 3);
        font-size: 16px;
        color: black;
    }
}

.progress {
    max-width: 200px;
    height: 10px;
    background-color: black;
    border-radius: 10px;

    &--remaining {
        background-image: linear-gradient(310deg, green, white);
    }
}