.table {
    background-color: white;
    border-radius: 15px;
    width: 100%;

    th {
        width: calc((100% / 4) - 20px);
        padding: 10px;
        text-align: left;
        color: black;
    }

    td {
        padding: 10px;
        width: calc(100% / 4);
        color: black;
    }
}