<app-navigation (toggleDashboardViews)="toggleViews($event)"></app-navigation>
<div class="dashboard">
  <div class="dashboard__overview">
    <ng-container *ngFor="let card of cardData">
      <app-card
        *ngIf="card[0] !== 'currency'"
        [headline]="card[0]"
        [amount]="card[1]"
        [currency]="settingsData.currency"
        class="dashboard__overview--card"
      ></app-card>
    </ng-container>
  </div>
  <ng-container>
    <app-table [hidden]="detailedExpenses">
      <button
        *ngIf="settingsData"
        mat-raised-button
        color="primary"
        (click)="toggleViews('expenses')"
        class="dashboard__btnExpenses"
      >
        +
      </button>
    </app-table>
    <app-detailed-expenses
      [hidden]="!detailedExpenses"
      [expenses]="this.parentData"
    ></app-detailed-expenses>
  </ng-container>
</div>

<app-modal *ngIf="settings || expenses">
  <app-settings
    *ngIf="settings && !expenses"
    (toggleModalEvent)="toggleViews($event)"
  ></app-settings>

  <app-expense
    *ngIf="expenses && !settings"
    (toggleModalEvent)="toggleViews($event)"
    (expenseDataEvent)="setData($event)"
    [inputOptions]="settingsData"
  ></app-expense>
</app-modal>
