.dashboard {
    padding: 20px;

    &__overview {
        display: flex;
        justify-content: space-between;

        div {
            flex: 0 1 auto;
        }

    }

    button {
        margin-top: 20px;

    }

    &__btnExpenses {
        margin-left: 10px;
    }

    .mat-disabled {
        pointer-events: none;
    }
}