.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

mat-nav-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

mat-icon {
    margin-right: 8px;
}