.settings {
    position: relative;
    width: 100%;

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        div {
            margin-right: 5px;
        }
    }

    &__field {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;

        mat-form-field {
            margin: 5px;
        }
    }

    .mat-warn {
        margin-bottom: 10px;
    }

    &__btn {
        display: flex;
        justify-content: space-between;
    }
}

form {
    .object-container {
        margin-bottom: 10px;

        label {
            display: block;
            font-weight: bold;
        }

        input {
            margin-bottom: 5px;
        }

        button {
            margin-left: 5px;
        }
    }

    button {
        margin-top: 10px;
    }
}