<div class="settings">
  <button mat-raised-button color="warn" (click)="closeModal()">Close</button>
  <formGroup [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="settings__form" formArrayName="fields">
      <div
        *ngFor="let field of formGroup.get('fields')['controls']; let i = index"
        class="object-container"
      >
        <div [formGroupName]="i">
          <div>
            <mat-form-field>
              <!-- for="selectedOption{{ i }}" -->
              <mat-label>Type:</mat-label>
              <mat-select
                id="selectedOption{{ i }}"
                formControlName="selectedOption"
                required
              >
                <mat-option *ngFor="let option of options" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <!-- for="numberValue{{ i }}" -->
              <mat-label>Amount:</mat-label>
              <input
                matInput
                type="number"
                id="numberValue{{ i }}"
                formControlName="numberValue"
                required
              />
            </mat-form-field>
          </div>
          <button mat-raised-button color="warn" (click)="removeField(i)">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="settings settings__btn">
      <button mat-raised-button color="accent" (click)="addField()">
        Add Object
      </button>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </formGroup>
</div>
